h1{
	border-bottom: double;
	margin-bottom: 10px;
}
h3{
	border-bottom: double;
	padding-bottom: 10px;
	margin-bottom: 25px;
}

.log_entry{
	font-size: large;
	border-style: ridge;
	padding: 5px;
	margin-bottom: 15px;
}
